<!DOCTYPE html>
<html lang="en" ng-app="GiftShopApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <base href="@Url.Content("~/")" />
    <title>Gift Shop</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="mainCtrl">
    <div class="page-loader-wrapper">
        <div class="page-loader">
            <div class="loader-content">
                <p>Loading, please wait</p>
                <i class="fa fa-refresh fa-spin fa-3x fa-fw text-default"></i>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
